@use './variables.scss' as *;

#container{

    width: 100%;

    background-color: $white;
    padding: 0 10%;

}

#navUl{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLi{
    list-style: none;
}
