@use './variables' as *;

#container{
  position: relative;
  width: 100%;
  padding: 0 10%;
  background-color: #fff;
}

#grid{
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(10px, 200px));
  grid-auto-rows: minmax(15px, 300px);
  row-gap: calc(5vh + 5rem);
  column-gap: 5vw;
}

.productContainer{
  list-style-type: none;
  background-color: $white;

  
  
} 